---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Portfolio - Rubén Vizcaíno</title>
	</head>
	<body>
		<slot />
	</body>
</html>

